body {
    margin: 0;
    padding: 0;
    
    background: url("images/fon1.jpg");
    font: 17px Times New Roman; color: black; line-height: 1.3;

}
.karkas {
    width: 800px; margin: 0 auto;

}

header {
    padding: 30px 0 0 0;    
}

.logo{
    margin: 0 auto; display: block; width: 500px; height: 150px; 
    margin-top: -10px;
}

#navbar ul {
    display: none; /* Скрытие меню */
    background-color: #f90; /* Фон меню при наведении */
    position: absolute;  /* Абсолютное поцизионирование меню */
    top: 100%;  /* Положение от верхнего края */
    z-index: 999999;  /* Положение в плоскости Z */
  }
#navbar li:hover ul { display: block; }  /* Блочное отображение элементов */
#navbar, #navbar ul {
    margin: 0;  /* Отступы снаружи */
    padding: 0;  /* Отступы внутри */
    list-style-type: none;  /* Тип меток элементов списка */
  }
#navbar {
    height: 30px;  /* Высота меню */
    background-color: rgb(43, 43, 43);  /* Фон меню */
    padding-left: 90px;  /* Отступ внутри слева */
    min-width: 480px;  /* Минимальная ширина меню */
    margin-top: 30px;
  }
#navbar li {
    float: left; /* Выравнивание элемента */
    position: relative;  /* Позиция элемента, относительно текущего места */
    height: 100%; /* Высота элемента */
  }
#navbar li a {
    display: block;  /* Отображение в блочном виде */
    padding: 6px;    /* Отступ внутри со всех сторон по 6пикс */
    width: 100px; /* Ширина */
    color: #fff;  /* Цвет текста */
    font: 18px "Arial";  /* Хар-ки текста */
    text-decoration: none; /* Отменяет эффекты текста */
    text-align: center;  /* Выравнивание текста по центру */
  }
#navbar ul li { float: none; }  /* Обтекание элемента не задается */
#navbar li:hover { background-color: rgba(255, 153, 0, 0.836); }  /* Цвет пунктов меню под курсором */
#navbar ul li:hover { background-color: rgb(43, 43, 43); }  /* Цвет пунктов подменю под курсором */

.slider {
  position: relative;
  width: 680px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 680px;
  height: 340px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1360px);
}

.right-block
{
background:#fff;
font:15px  "Verdana", sans-serif;
text-align:justify;  /* Выравнивание текста по ширине */
margin-top: 5px;  /* Внешний отступ */
padding:5px;  /* Внутренний отступ */
width: 790px; /* Ширина блока правого*/
float:right; /* Граница сайта */  
-webkit-box-shadow: 0 10px 6px -6px #444343; /* Для принятия браузером */
-moz-box-shadow: 0 10px 6px -6px #444343; /* Для принятия браузером */
box-shadow: 0 10px 6px -6px #444343; /* Тень элемента */
}

.right-block h1
{
 text-align:justify; 
color: darkred;
 font:30px "Times New Roman"; 
font-weight: bold;
}
.right-block p{
   text-indent: 15px; 
}
.center{
position: relative;
display: block;
width: 680px;
margin: 20px auto;
box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

#content h1 {
    font: 30px  "Times New Roman"; font-weight: bold;
     color: darkslateblue;
width: 790px; /* Ширина блока правого*/
    text-align: center;
}

#content p {
text-align:justify;  /* Выравнивание текста по ширине*/
width: 790px; /* Ширина блока правого*/
float:right; /* Граница сайта */  
text-indent: 15px;
margin-top: 5px;  /* Внешний отступ */
padding: 1px;  /* Внутренний отступ */
width: 790px; /* Ширина блока правого*/
float:right; /* Граница сайта */  
}

.footer {
float:left;
width: 790px;
margin-top: 5px;
margin-left:10px;	
padding:5px;
font:17px  "Verdana"; font-weight: bold;
}
